@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
}

html,
body {
  width: 100vw;
  min-width: 320px;
  height: auto;
  position: relative;
}


a:hover {
  text-decoration: none;
}

/** MAIN PAGE BACKGROUNDS */
.darkThemeBg {
  background-color: hsla(261, 76%, 10%, 1);
  background-image:
    radial-gradient(at 0% 1%, hsla(262, 70%, 35%, 0.25) 0px, transparent 50%),
    radial-gradient(at 97% 100%, hsla(262, 70%, 35%, 0.25) 0px, transparent 50%),
    radial-gradient(at 14% 0%, hsla(262, 70%, 35%, 0.25) 0px, transparent 50%),
    radial-gradient(at 74% 100%, hsla(262, 70%, 35%, 0.25) 0px, transparent 50%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.lightThemeBg {
  background-color: hsla(262, 76%, 95%, 0.35);
  background-image:
    radial-gradient(at 0% 1%, hsla(262, 70%, 35%, 0.75) 0px, transparent 50%),
    radial-gradient(at 97% 100%, hsla(262, 70%, 35%, 0.75) 0px, transparent 50%),
    radial-gradient(at 14% 0%, hsla(262, 70%, 35%, 0.75) 0px, transparent 50%),
    radial-gradient(at 74% 100%, hsla(262, 70%, 35%, 0.75) 0px, transparent 50%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/** DASHBOARD PAGE BACKGROUNDS */

/** SETTINGS PAGE BACKGROUNDS */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 300ms ease-in-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation: fadeOut 300ms ease-in-out;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-scrolling-text {
  animation: scroll 10s linear infinite;
}

.slider {
  transition: transform 0.3s ease;
}

.active .slider {
  transform: translateX(48px);
}

/* 
Formula for translateX(position):
  parent-width - (slider-width - offset-width), then difference + (offset-width in positive number)
*/

.brandGradient {
  font-size: 42px;
  height: 42px;
  font-weight: bold;
  background: linear-gradient(13deg, rgba(251, 84, 43, 1) 30%, rgba(71, 21, 157, 1) 69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animate-scrolling-text {
  animation: scroll 10s linear infinite;
}

.cardBody {
  width: calc(100% - 40px);
  margin: auto;
}

@media (max-width: 640px) {
  .active .slider {
    transform: translateX(38px);
  }
}

@media (max-width: 540px) {

  .brandGradient {
    font-size: 36px;
    height: 36px;
  }
}

@media (max-width: 482px) {
  .userProfile {
    max-width: 270px;
    width: fit-content;
  }
}

@media (max-width: 320px) {
  .userProfile {
    max-width: 170px;
    width: fit-content;
  }
}

@media (max-width: 270px) {
  .userProfile {
    display: none;
    width: fit-content;

  }
}

@media (max-width: 298px) {
  .nav_name {
    display: none;
  }
}


@media (max-width: 262px) {
  #signOptions {
    padding: 10px;
  }
}

@media (max-width: 230px) {
  .passwordClose {
    display: flex;
    flex-direction: column;
    text-align: start;
  }
}