@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
}

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

html,
body {
  width: 100vw;
  height: auto;
}

a:hover {
  text-decoration: none;
  color: #6422dd;
}

@media (max-width: 298px) {
  .nav_name {
    display: none;
  }
}

@media (max-width: 230px) {
  .passwordClose {
    display: flex;
    flex-direction: column;
    text-align: start;
  }
}