@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,body{
  width: 100vw;
  height: auto;
}


@media (max-width: 396px) {
  .nav_name {
    font-size: small;
  }
}
@media (max-width: 298px) {
  .nav_name{
   display: none;
  }
}